.centered-header {
    text-align: center;
  }

.centered-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20%;
}

.bordered-post-list {
  border: 1px solid #000;
  padding: 10px;
  margin: 10px;
  width: 100%;
}

.welcome-logout-box {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    width: 100%;
  }